.syber-navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 40px 40px;
}

.syber-navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.syber-navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.profile-circle-right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 20px;
}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 20px;
}

.navbar-buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-70%);
  display: flex;
  gap: 10px;
}

.navbar-buttons button {
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.navbar-buttons button:hover {
  background-color: #eee;
  border-radius: 5px;
}

.active {
  text-decoration: underline;
}